
@section Body{
    <div class="error-wrapper">
        <h1>Dear customer!</h1>
        <br />
        <p>Something get wron, sorry</p>
        <p>Shop is on hold until further notice.</p>
        <p>Please visit my Instagram @@leha</p>
    </div>
}


