
@{
    ViewBag.Title = "KeepShoppint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body{
    <div class="row row-wrapper">
        <div class="col-md-10 col-md-offset-1">
            <h3>Your cart is empty!</h3>
            <p>
                <h4>Please, keep sopping ;)</h4>
            </p>
        </div>
    </div>
    }

