@{
    ViewBag.Title = "Home";
}

@section Body
{
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3 item-main-page">
            <div class="item-body">

            </div>
        </div>
        <div class="col-md-3 item-main-page">
            <div class="item-body">

            </div>
        </div>
        <div class="col-md-3 item-main-page">
            <div class="item-body">

            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
}
