body {
    margin: 0;
    padding: 0;
}

.navbar {
    border: none;
    margin: 0;
    padding: 0;
}

.navbar-toggle {
    border: none;
    float: left;
    margin-left: 3%;
}

.navbar-default {
    background-color: white;
}

.nav-top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-text {
    color: black;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-collapse {
    border: none;
}

.logo-text {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.logo-style {
    width: 100%;
    text-align: center;
}

    .logo-style a:hover {
        text-decoration: none;
    }

.logo img {
    margin: auto;
    width: 23%;
    max-height: 150px;
    max-width: 150px;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.black {
    background-color: black;
}

.filter {
    list-style-type: none;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 0;
}

    .filter li {
        display: inline;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

        .filter li a {
            color: black;
            font-weight: 600;
        }

            .filter li a:hover {
                text-decoration: none;
            }

.item-main-page {
    margin: 5px;
    padding: 5px;
    width: 32%;
    height: 300px;
}

.image {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.image-hover {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

    .image-hover .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(0,0,0,0.5);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .image-hover span {
        text-transform: uppercase;
        color: black;
        text-align: center;
        width: 100%;
        display: block;
        position: relative;
        bottom: -205px;
        font-size: 17px;
        -webkit-transform: translatey(50px);
        -ms-transform: translatey(50px);
        transform: translatey(50px);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 10px;
    }

    .image-hover .name {
        background-color: rgba(179,177,173,0.6);
    }

    .image-hover .price {
        font-weight: 600;
        background-color: rgba(195,196,196,0.9);
    }

    .image-hover:hover .overlay {
        cursor: pointer;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .image-hover:hover span {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translatey(0);
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }

.pagination-block {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.pagination-con {
    float: none;
}

.pagination-li {
    font-size: 17px;
    display: inline-block;
}

.pagination-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination-li a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-weight: 600;
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: black;
}

    .footer ul {
        float: none;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .footer li {
        float: left;
        padding-top: 10px;
    }

        .footer li a {
            color: white;
            padding-top: 4px;
        }

            .footer li a:hover {
                background-color: black;
                color: gray;
            }

.rights {
    color: black;
    text-align: center;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.error-wrapper {
    width: 100%;
    vertical-align: central;
    text-align: center;
}

/*itempage*/

.item-wrapper {
    margin-bottom: 20px;
    margin-top: 5%;
}

.item-image-wrapper {
    height: 400px;
    overflow: hidden;
    opacity:0.9;
    transition: all 1s ease
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

    .item-image-wrapper:hover {
        opacity: 1;
        cursor:pointer;
    }

.item-image {
    position: relative;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

    .item-image:hover {
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1); /* IE 9 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
    }

.item-info {
    margin-left: 30px;
}

.item-title {
    font-size: 32px;
    padding-bottom: 6%;
}

.item-description {
    border-left: 1px solid gray;
    padding-left: 15px;
}

.item-price {
    margin-top: 10%;
    font-size: 15px;
    padding:0; 
    margin:0; 
    font-weight:600
}

.add-basket{
    margin-top: -6px;
    display:block;
    width: 120px;
    height: 30px;
    text-align:center;
    padding:3px;
    border: 1px solid gray;
}

.add-basket:hover{
    color:white;
    cursor:pointer;
    background-color:rgba(0,0,0,0.8)
}

#image-background{
    position:absolute;
    top:0;
    width:100%;
    height:1000px;
    background-color:rgba(0,0,0,0.9);
}

#image-slide{
    width:100%;
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-top-padding{
    width:100%;
    height:25%;
}
/*about*/

.about-container {
    text-align: center;
    padding-top: 70px;
    height: 530px;
}

/*cart*/

.cart{
    background-color:black;
    width:100%;
    height:1000px;
}


@media (min-width: 0px) and (max-width:768px) {
    .logo-wrapper-collapse {
        width: 100%;
    }

    #image-background{
    height:1370px;
}

    .logo-wrapper {
        display: none;
    }

    .item-main-page {
        width: 100%;
    }

    .footer li a {
        font-size: 70%;
        margin-left: 0px;
        padding-right: 4px;
        padding-left: 4px;
    }

    .rights {
        font-weight: 600;
        font-size: 80%;
    }

    .filter li a {
        font-size: 90%;
    }

    .item-info {
        margin-left: 10px;
    }

    .item-description {
        border-left: none;
        padding-left: 0;
    }
}

@media (min-width: 768px) and (max-width:1027px) {

    #image-background {
        height: 1200px;
    }

    .logo-wrapper-collapse {
        display: none;
    }

    .logo-wrapper {
        overflow: visible;
        width: 100%;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .footer {
        margin-top: 30px;
    }
}

@media (min-width:1027px) {
    .logo-wrapper-collapse {
        display: none;
    }

    .logo-wrapper {
        overflow: visible;
        width: 100%;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .footer {
        margin-top: 30px;
    }
}
